In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Pandas

Pandas is an open source Python package that provides numerous tools for data analysis. The package comes with several data structures that can be used for many different data manipulation tasks. It also has a variety of methods that can be invoked for data analysis, which comes in handy when working on data science and machine learning problems in Python.

### Advantages of Using Pandas

The following are some of the advantages of the Pandas library:

- It can present data in a way that is suitable for data analysis via its Series and DataFrame data structures.
- The package contains multiple methods for convenient data filtering.
- Pandas has a variety of utilities to perform Input/Output operations in a seamless manner. It can read data from a variety of formats such as CSV, TSV, MS Excel, etc.

#### How to install pandas ?

In [ ]:
# import pandas and np

import pandas as pd
import numpy as np

### Pandas Data Structures

Pandas has two main data structures for data storage:

- Series
- DataFrame

#### Series
A series is similar to a one-dimensional array. It can store data of any type. The values of a Pandas Series are mutable.

In [ ]:
s1 = pd.Series([1,2,3,4])
print(s1)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# A Series may also be created from a numpy array. 
# Let us create a numpy array then convert it into a Pandas Series:

fruits = np.array(['apple','orange','mango','pear'])
series2 = pd.Series(fruits)
print(series2)

0     apple
1    orange
2     mango
3      pear
dtype: object

#### DataFrame

The Pandas DataFrame can be seen as a table. It organizes data into rows and columns, making it a two-dimensional data structure. 

Potentially, the columns are of a different type and the size of the DataFrame is mutable, and hence can be modified.

To create a DataFrame, you can choose to start from scratch or convert other data structures like Numpy arrays into a DataFrame. 

Here is how you can create a DataFrame from scratch:

In [ ]:
df1 = pd.DataFrame({
    "C1": [1, 4, 8, 7, 9],
    "C2": ['a', 'column', 'with', 'a', 'string'],
    "C3": [1.23, 23.5, 45.6, 32.1234, 89.453],
    "C4": [True, False, True, False, True]
})

In [ ]:
print(df1)

   C1      C2       C3     C4
0   1       a   1.2300   True
1   4  column  23.5000  False
2   8    with  45.6000   True
3   7       a  32.1234  False
4   9  string  89.4530   True

In [ ]:
# It is possible for us to create a DataFrame from a list or even a set of lists.
mylist = [4, 8, 12, 16, 20]
df2 = pd.DataFrame(mylist)
print(df2)

    0
0   4
1   8
2  12
3  16
4  20

In [ ]:
items = [['Phone', 2000], ['TV', 1500], ['Radio', 800]]
df3 = pd.DataFrame(items)
print(df3)

       0     1
0  Phone  2000
1     TV  1500
2  Radio   800

In [ ]:
items = [['Phone', 2000], ['TV', 1500], ['Radio', 800]]
df4 = pd.DataFrame(items, columns=['Item', 'Price'], dtype=float)
print(df4)

    Item   Price
0  Phone  2000.0
1     TV  1500.0
2  Radio   800.0

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# To get a summary of this item's data
df4.describe()

             Price
count     3.000000
mean   1433.333333
std     602.771377
min     800.000000
25%    1150.000000
50%    1500.000000
75%    1750.000000
max    2000.000000

### Importing Data
Often you'll need to use Pandas to analyze data that is stored in an Excel file or in a CSV file. This requires you to open and import the data from such sources into Pandas.

#### Importing CSV Data

A CSV file, which stands for comma separated value, is simply a text file with values separated by a comma (,). 

This is a very well-known and often-used standard

In [ ]:
import pandas as pd
data = pd.read_csv('cars.csv')
print(data.to_string())

     age  gender  miles   debt  income  sales
0     28       0     23      0    4099    620
1     26       0     27      0    2677   1792
2     30       1     58  41576    6215  27754
3     26       1     25  43172    7626  28256
4     20       1     17   6979    8071   4438
5     58       1     18      0    1262   2102
6     44       1     17    418    7017   8520
7     39       1     28      0    3282    500
8     44       0     24  48724    9980  22997
9     46       1     46  57827    8163  26517
10    34       1     23   2595    7908  14112
11    32       1     23  33119    7261  20956
12    25       0     18   3517    5069   7650
13    35       0     14   1543    1376   3197
14    19       0     22   9362    4218   4531
15    53       1     47   3596   11069  18005
16    57       0     34  58481    7054  22854
17    27       1     33   3410    6755  10278
18    37       1     11      0    2170    739
19    24       0     30   2822    3462   4271
20    44       1     17    247    3586   4733
21    48       0     10      0     188    971
22    40       1     15   7254    6472   6263
23    54       1     31  41258   11881  24677
24    34       0     32  43708   11081  22830
25    57       0     34   8045    6385   9913
26    58       0     29    263    4766   3598
27    26       0     10   1971    9754   5222
28    49       1     21  47277    6370  22450
29    55       1     25  59138   10739  24993
30    40       1     38  56500    6528  28607
31    54       1     28   9882    8616  16875
32    59       1     30    751    2457   3199
33    36       0     38  50167    6022  25394
34    46       0     16   4342    6673  11562
35    21       0     25   4133    4212   4376
36    33       1     17   7134    7025  11530
37    31       1     22      0    3957    780
38    24       0     11   5503    1685   2945
39    29       1     18    166    7104   7601
40    25       0     20   6114    1206  15044
41    22       1     10   2389    1517   2073
42    22       0     23   3899    1882   2869
43    22       1     26   3992    4777   1492
44    38       1     28   5110    2818   5927
45    21       0     15   7375    3614   3454
46    21       1     14   9592    1305   2282
47    44       0     46   8590   11663  17374
48    52       1     48  23918    6654  20341
49    37       0     27   8020    6983   7062
50    35       1     23  47753    6595  27677
51    28       0     34   9310    6936  12581
52    30       0     35   3001    5805  10780
53    30       1     16   5044   11404  15288
54    45       1     26     72    2906   3928
55    25       0     18   1123    6874   3852
56    30       1     36  22992    6540  18819
57    58       1     27      0    1558   1447
58    27       1     21   2398    5094  15573
59    38       1     33  53432    6162  25996
60    46       1     26   8549    6669  14202
61    41       0     31  58742   10717  24097
62    60       0     39  10293    8851  21708
63    27       0     26   6551    3587  14074
64    35       0     38  30534   11236  21608
65    31       0     18   1383    4294   3453
66    29       0     26   5397    5427   6376
67    29       1     42  16366   11629  20247
68    35       1     50  54167    9503  22842
69    25       1     15     73    7292   5018
70    50       1     18      0     740    648
71    33       0     17    596    1419   2454
72    50       0     88  53232    7854  27800
73    56       1     14     67    1997   2531
74    49       1     30      0       0   1205
75    43       0     23   5313    8598  16653
76    30       1     80  50583    8776  28822
77    25       1     21  55591    8252  24291
78    48       0     25   5844    5376  12748
79    36       0     22   2394    9269  15905
80    25       1     19   4307    1304   5489
81    28       1     50  52146    9773  26152
82    24       1     14    733    3758   4785
83    36       0     26   6900    5463   6465
84    35       1     29   1802    5406   6200
85    21       1     25   7475    9604   4923
86    59       1     89  51363    9491  29715
87    56       0     31  11100   11495  20532
88    56       1     41  45577    9100  23645
89    39       1     25  56372    6942  22508
90    38       1     45  40218    7501  24130
91    34       1     25      0       0   1432
92    37       1     30      0   10744  27213
93    53       0     22   5214    7710   7388
94    29       1     20   5274    2848   5580
95    53       1     35  44112    8673  24161
96    55       0     20  41178    7710  24583
97    46       1     23   8816    6227   7274
98    20       0     26   9703    4239   3978
99    44       0     33   4169    7424   8082
100   27       1     68  40933   11664  27667
101   30       1     26  25184    9102  18965
102   46       1     47  43107    7385  23883
103   48       0     22      0       0   1206
104   25       0     20  16241    2262  19606
105   33       0     49  30660   10239  19634
106   23       0     13   8746    2650   4298
107   26       1     20   5015    7750   9851
108   37       1     53  50310    9689  27777
109   25       1     23   3212    3339   3310
110   53       1     13      0    6309   2228
111   42       1     28   8017    2118   9834
112   32       0     29   7730    5763  13699
113   26       0     34  25462    8030  21242
114   37       1     33   2014    5111  14133
115   59       1     50  49859    7120  24203
116   24       1     13   4829    1778   2327
117   58       0     47  53965    7824  26141
118   31       0     30  12650    9233  19173
119   25       0     12    787    2762   3433
120   56       1     16   5856    2512  10369
121   47       0     43  55494    6260  25664
122   25       1     28   8801    5718   9041
123   21       0     28   7205   10145   1712
124   53       0     30  17091    8908  18655
125   36       0     22   7530    5217  11119
126   31       0     22   9898    8559   7165
127   46       0     47  18335   10701  21376
128   46       1     13     91    6581   3510
129   58       0     38    529   11730  16837
130   27       1     20      0    1751    549
131   21       1     23   9508    4866   3014
132   29       0     27   1967    4987   3224
133   36       0     31  57197   11084  27599
134   22       0     20    361    2033   2195
135   51       0     28  42443   10957  24498
136   31       0     27  38560    6076  20050
137   27       1     21      0       0   1114
138   51       1     16      0    3564   1819
139   47       1     24   5998    7931  13460
140   19       0     21   8814       0   3472
141   60       1     35  45568   11145  25239
142   35       0     16      0    1900    624
143   32       1     23      0    1488   2217
144   22       0     22   2556    4193   2950
145   59       0     41  50049    7428  27304
146   35       1     24    465   11458   6112
147   29       0     18   6827    4970   6748
148   57       1     29  20118    6792  21126
149   21       1     29   6455    2655   4717
150   44       1     38  46653    9772  28228
151   50       1     30    506    4765   4176
152   49       0     36  39387    7025  21621
153   25       0     16   5256    6262  14039
154   45       1     38  47180    8717  22987
155   59       0     24   9200    7631  13496
156   29       0     48   2747   11301  17878
157   44       0     21   7300    6015   7825
158   49       0     15   1164    2920   3021
159   51       0     18   6327    2998   5665
160   57       1     25   9375    9667  16803
161   58       1     19      0    5746   1777
162   32       0     26  58823    8496  22670
163   50       0     28   9248    6850   6142
164   41       0     24  41817    8046  27869
165   31       1     31   8307    7035   6645
166   55       1     24    608    4184   3205
167   41       1     43  39884   10866  19621
168   41       0     29  12317    9438  18904
169   40       1     29   6698    6881  12292
170   44       1     44  53708   10953  24567
171   34       1     43  56759   10070  24382
172   30       0     44  47836    9878  23646
173   25       1     75  40579   10197  28253
174   34       0     15      0    1543    655
175   20       0     24   7733       0   1362
176   60       1     12      0    1593   1717
177   27       0     11   1142   10919   2942
178   27       1     11      0    1363   1909
179   24       1     23   9682    5096    790
180   21       1     19   9069    3064   1211
181   47       0     43  36068   10289  18916
182   24       1     13   5619    2616   1769
183   47       1     25  19065   10148  19634
184   53       0     21   3089    6390  14913
185   37       1     24   1482    1164   2533
186   24       0     22   2092       0   1262
187   51       0     31   6701    8178  16528
188   46       1     33   6992    5406  10076
189   59       1     78  45008    7661  29191
190   29       1     15   6845    8529  16160
191   60       1     47  23586    9884  19779
192   47       0     27   1683    7961  10826
193   30       0     20      0    1612   1955
194   46       0     50   2679    9243  17312
195   23       0     23   7434    4745   3633
196   25       0     25   4881    9999   7960
197   24       0     16   8493    5711   2626
198   29       1     17      0    4443    576
199   50       1     31  10245   10455  19243
200   49       1     25   6617    7294  14328
201   52       0     36   7021    8363  16863
202   45       1     29   1478    1481   2931
203   29       0     16      0       0   1367
204   25       0     29    766    6155   4519
205   23       1     14   8352   10027   3156
206   22       1     15   4497    4460   1412
207   21       0     19     96    4690   4842
208   22       0     27   1885    1375    513
209   49       0     16    282    1168   2532
210   51       0     28   4021    5005   9438
211   44       0     20   3066   10383  15834
212   29       0     11    502    7558   4250
213   33       1     25   6639    2447   5931
214   29       1     21   1455    2770   3658
215   51       0     31  37299    8967  20972
216   58       1     85  46528    7818  29146
217   43       1     21   5988    7691   8500
218   31       0     15    467    4887   4620
219   30       0     20    929    5999   9937
220   51       1     41  51193    8708  26148
221   28       1     24   5274    6962   9591
222   40       0     48   8938   11358  18064
223   29       1     50   9660   10076  18120
224   35       1     33   9013    7990  10916
225   23       1     17   8467       0   1030
226   32       1     27      0    7830  24433
227   25       0     49  22351    6524  22151
228   47       1     32   5643    1331   8433
229   57       0     20   4770   10681  17124
230   40       1     30    682    6189   3382
231   27       0     13      0     240    650
232   37       1     30   5922    5939   7483
233   52       1     35   3254    6781  13868
234   19       1     25   6272       0   1318
235   28       1     27   2471    1217   7438
236   54       1     47  14566    9079  20101
237   43       0     38   9358   11881  17304
238   20       0     24   4737    5132   1187
239   42       1     15   1978    5681  12561
240   36       0     45  13251   10961  21513
241   28       1     20    414    9900   5265
242   22       0     12   7868    1923   2450
243   21       1     11   9725    2787   2978
244   50       1     32   9333    9863  15849
245   44       0     35    201    5404   9977
246   39       1     16   6642    7522   8990
247   25       0     42   8751   11482  17094
248   23       1     22    900    2842   2235
249   47       0     92  44503   11487  28553
250   26       0     14      0    9452   1097
251   21       0     11   7186    1182   3854
252   36       1     20   9893   11937  15354
253   37       1     34   5091    6144   6293
254   46       0     44   7026    8124  17677
255   54       1     25   2639    3480   9007
256   28       1     34  48259   10985  26565
257   24       1     14   6962   11810   3910
258   52       1     16   5732    5715  10941
259   21       0     24   2240   11821   3220
260   45       0     29   8187    6727  10915
261   60       0     19   8633    9477   7135
262   30       1     16   3348    9489   6089
263   46       1     22   6367    7983  11274
264   26       0     51  45580    7529  27752
265   50       0     45  59015   11201  22429
266   25       1     14   2169    2862    943
267   29       0     35   4339    7852   6025
268   55       0     22   4061   11801  15638
269   32       0     33   9037    6254   8526
270   58       0     16    547    1148   2595
271   25       0     39  57929    7792  23856
272   55       1     20   5501    4846  17300
273   34       0     18   1472    1813   2665
274   50       1     32  39329   10059  20516
275   26       1     28  19077    8174  21929
276   59       1     26  18476   11503  20942
277   59       0     20    736    5216  12083
278   28       0     79  43266    7995  29770
279   30       0     29   3202    7802   7518
280   59       0     48  45228    6929  22225
281   34       0     29  21312    7645  20910
282   39       0     46      0    6244  22488
283   29       1     15   6844   11360   6853
284   27       1     36  51182    7948  25689
285   30       1     40   8368    8658  17172
286   23       0     18   8194   11876   3666
287   46       0     30  50378    8400  23568
288   48       0     23    381    7130   8404
289   26       0     32   2853    7352   6403
290   49       0     26    864    9044  15851
291   45       1     27   1074    2918   2970
292   40       1     30   9686    2353   6801
293   20       1     17   4278    1021   1826
294   24       1     12   6612    9831   3004
295   38       1     38  17230    8010  19338
296   39       1     23   1504    6868   9952
297   47       0     18   5760    6305   8326
298   56       0     34  44866    6796  24486
299   56       1     35  42169    6874  24129
300   28       0     18      0    3823   1347
301   21       0     27   7243    3513   1041
302   27       0     16      0   11970   1086
303   54       1     25  42617   11478  25125
304   50       1     49  51261    6787  22306
305   23       1     20   5008    9467   2260
306   25       0     21   2020   10594  16078
307   25       1     17   9086    4523   7607
308   36       0     34  57792    7696  24545
309   44       0     40  47010    9034  28569
310   33       1     78  58432    8140  29414
311   21       0     12    903    6314   2440
312   54       0     34   5881    9018  16489
313   33       1     27    911   10882  17388
314   22       0     15   6963    1714   2037
315   26       1     21   9238    7388   8762
316   32       0     21   1834    4759   5011
317   19       1     20   9855    4648   4368
318   49       1     25   5017    7705  14308
319   54       1     23  16601    8044  18619
320   21       0     26   1877    9241   1376
321   20       1     14   5225    1927   1825
322   29       0     29   1648    2157   3979
323   23       0     19   8315    4815   3798
324   25       0     22   6647    2431   5417
325   32       0     31   2329    5680  16595
326   49       0     23  50755    8826  28575
327   45       0     92  59414    9996  29322
328   22       1     14   1801    3753   3510
329   37       1     34   1526    7508   6799
330   49       0     15   2244    7956  13291
331   53       1     11      0     588    614
332   45       0     32  59210    9114  27229
333   21       1     28   5042    1314   4912
334   44       0     27    742    2537   2795
335   20       0     13   4853       0    841
336   53       0     33   1130    7848   7344
337   29       1     27   1651    3440   5385
338   30       0     23   9545    7155  12608
339   27       1     30   6268    7866   6427
340   53       1     17   7986    6277  12152
341   38       1     28      0    1987    763
342   39       0     22      0    7769   1147
343   57       0     18   7593    4375   5664
344   59       1     22   1041    6551  14850
345   52       1     29  15752    6277  22145
346   27       0     20   1898    4881   3068
347   57       0     17   7332    5393   9288
348   52       0     27   9991    5148   7930
349   38       1     42  40427    8311  28608
350   40       0     93  46003   11049  29652
351   25       0     26    326    7514   8974
352   45       1     20  36043   11711  21566
353   45       0     37  35373    6338  18243
354   37       0     30    265    2092   7346
355   36       1     15   9885    2196  12760
356   20       1     27   5343    3185   3168
357   19       1     16   8469    6106   3328
358   48       0     13    963    2021   2526
359   32       1     47  30200    8798  18813
360   37       1     10    729    4793   3137
361   47       0     28    922    4512   4609
362   28       1     12      0    4133   1249
363   48       1     36  53089    6539  22503
364   60       1     34   8343    4612  10439
365   22       0     28   5863    1241    696
366   30       1     26      0    5410   1608
367   40       1     23  28114    7951  20323
368   52       1     46  32748    8779  20304
369   33       0     12      0    1293   1686
370   42       1     41  32122    8596  19621
371   36       0     27   9813    5591   8205
372   41       1     94  49308   11373  27887
373   59       0     22   2242    8107  16558
374   55       1     15   9174    7883   8485
375   25       1     14   1239    7402   4450
376   20       0     28   5184       0   1089
377   26       0     14      0    3020    942
378   54       0     23   5239    7194   8940
379   29       1     21    464    8558   5029
380   57       0     17   1194    7750   3240
381   53       0     10   1777    1577   2336
382   49       1     26   3571    5246   6191
383   48       1     27  48509   11207  25111
384   24       0     11   6236       0    733
385   34       1     30    783    6224   4511
386   35       0     34   7976   10488  15541
387   20       1     13   5565       0   3834
388   22       1     14   5556    6121   3437
389   52       0     43  13129   10652  20129
390   24       1     23   3469    4059   2756
391   55       1     18      0       0   1432
392   34       1     84  51994   11234  29009
393   27       1     22  27108    8503  18398
394   29       0     21    804    1674   2832
395   26       1     23      0       0   1295
396   48       0     22  47642    8369  22654
397   39       0     23  50067    9636  25979
398   20       0     25   4296    4897   3635
399   38       0     29   7934    6801  14073
400   38       1     23      0    7329   1869
401   20       0     26   6176       0   1728
402   20       0     20   8846    4598   3002
403   48       1     35   2727    7354   6250
404   36       0     16   1291    4062   5040
405   36       0     32   8232    5653  12965
406   43       0     23   6556    2298   9836
407   30       1     33   7077    5406  12424
408   47       0     29      0    1622   1733
409   38       1     29   8950    7054   9231
410   30       0     44  20245   10491  20638
411   35       1     45  57033    9728  27473
412   58       1     30   1804    6182   6317
413   42       0     26      0    1288    718
414   25       0     22   8619    3299   8506
415   24       1     16    215    3324   4765
416   33       1     37   8066   10218  16754
417   19       0     10   5387    1735   1728
418   25       1     20   1783    1767  17843
419   27       1     15      0    1696    505
420   56       0     97  59607   11425  28252
421   52       0     21   1354    1453  14884
422   36       1     23   2006    6360   8470
423   58       0     37  49785   11586  22965
424   19       1     18   9007    1222   2812
425   40       0     37  48837   11649  26185
426   44       1     30   4157    6280  13996
427   48       0     47  23035    8591  22062
428   30       0     18   8580   11084  16504
429   44       0     27  41921    9930  24016
430   49       0     24   6446    5304  11339
431   24       0     28   8307    5933   4340
432   29       1     25   4278    5941   9167

In [ ]:
data.head()

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

In [ ]:
data.tail()

     age  gender  miles   debt  income  sales
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

In [ ]:
data.head()

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

In [ ]:
data['gender']

0      0
1      0
2      1
3      1
4      1
      ..
958    0
959    1
960    1
961    0
962    1
Name: gender, Length: 963, dtype: int64

In [ ]:
data['miles']

0      23
1      27
2      58
3      25
4      17
       ..
958    11
959    23
960    28
961    29
962    15
Name: miles, Length: 963, dtype: int64

In [ ]:
# The loc() method is a nice utility that helps us read only certain rows of a specific column in the dataset
print (data.loc[[0, 4, 7], ['Type']])

In [ ]:
data.loc[:, ['gender', 'miles']]

     gender  miles
0         0     23
1         0     27
2         1     58
3         1     25
4         1     17
..      ...    ...
958       0     11
959       1     23
960       1     28
961       0     29
962       1     15

[963 rows x 2 columns]

In [ ]:
data.loc[:3, ['Type', 'Capacity']]

### Data Wrangling
Data wrangling is the process of processing data to prepare it for use in the next step. 

This processes include merging, grouping, and concatenation. 

This kind of manipulation is often needed in data science to get your data in to a form that works well with whatever analysis or algorithms that you're going to put it through.

In [ ]:
# Merging
d1 = {
    'subject_id': ['1', '2', '3', '4', '5'],
    'student_name': ['John', 'Emily', 'Kate', 'Joseph', 'Dennis']
}

d2 = {
    'subject_id': ['4', '5', '6', '7', '8'],
    'student_name': ['Brian', 'William', 'Lilian', 'Grace', 'Caleb']
}

df1 = pd.DataFrame(d1, columns=['subject_id', 'student_name'])
df2 = pd.DataFrame(d2, columns=['subject_id', 'student_name'])

In [ ]:
df1

  subject_id student_name
0          1         John
1          2        Emily
2          3         Kate
3          4       Joseph
4          5       Dennis

In [ ]:
df2

  subject_id student_name
0          4        Brian
1          5      William
2          6       Lilian
3          7        Grace
4          8        Caleb

In [ ]:
pd.merge(df1, df2, on='subject_id')

  subject_id student_name_x student_name_y
0          4         Joseph          Brian
1          5         Dennis        William

In [ ]:
# Grouping
#  process of putting data into various categories.

raw = {
    'Name': ['John', 'John', 'Grace', 'Grace', 'Benjamin', 'Benjamin', 'Benjamin',
        'Benjamin', 'John', 'Alex', 'Alex', 'Alex'],
    'Position': [2, 1, 1, 4, 2, 4, 3, 1, 3, 2, 4, 3],
    'Year': [2009, 2010, 2009, 2010, 2010, 2010, 2011, 2012, 2011, 2013, 2013, 2012],
    'Marks':[408, 398, 422, 376, 401, 380, 396, 388, 356, 402, 368, 378]
}
df3 = pd.DataFrame(raw)

In [ ]:
df3

        Name  Position  Year  Marks
0       John         2  2009    408
1       John         1  2010    398
2      Grace         1  2009    422
3      Grace         4  2010    376
4   Benjamin         2  2010    401
5   Benjamin         4  2010    380
6   Benjamin         3  2011    396
7   Benjamin         1  2012    388
8       John         3  2011    356
9       Alex         2  2013    402
10      Alex         4  2013    368
11      Alex         3  2012    378

In [ ]:
group = df3.groupby('Year')

In [ ]:
group

In [ ]:
group.get_group(2010)

       Name  Position  Year  Marks
1      John         1  2010    398
3     Grace         4  2010    376
4  Benjamin         2  2010    401
5  Benjamin         4  2010    380

In [ ]:
#Concatenation
# basically means to add one set of data to another
print(pd.concat([df1, df2]))

  subject_id student_name
0          1         John
1          2        Emily
2          3         Kate
3          4       Joseph
4          5       Dennis
0          4        Brian
1          5      William
2          6       Lilian
3          7        Grace
4          8        Caleb

In [ ]:
pd.concat([df1, df2], axis=1)

  subject_id student_name subject_id student_name
0          1         John          4        Brian
1          2        Emily          5      William
2          3         Kate          6       Lilian
3          4       Joseph          7        Grace
4          5       Dennis          8        Caleb

### Descriptive Statistics
describe() function gives the descriptive statistics for numerical columns, but the character columns are excluded.

In [ ]:
data = {
    'Name': ['John', 'Alice', 'Joseph', 'Alex'],
    'English': [64, 78, 68, 58],
    'Maths': [76, 54, 72, 64]
}

df = pd.DataFrame(data)
df.describe()

         English      Maths
count   4.000000   4.000000
mean   67.000000  66.500000
std     8.406347   9.712535
min    58.000000  54.000000
25%    62.500000  61.500000
50%    66.000000  68.000000
75%    70.500000  73.000000
max    78.000000  76.000000